.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}

#acercaDeCuerpo .p{
    text-align: center;
}

#copy{
    background-color: rgba(0, 0, 0, 0.2);
}

#foot{
    background-color: grey
}

#contact{
    color:white;
    background-color: dimgrey;
    
}
#horario{
    color:white;
    background-color: #99A3A4;
}

#direccion{
    color:white;
    background-color: #7F8C8D;
}

#mapa{
    background-color: #BDC3C7 ;
}